@import "styles/global.theme.scss";


@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$cornerRadius: 20px;

.displayContainer {
    display: flex;
    height: 80vh;
    background-color: $BGCOLOR;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}

.currentWeather {
    position: relative;
    display: block;
    margin: auto;
    width: 340px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: $currentWeatherCardBg;
    box-shadow: 2px 2px 20px black;
    border-radius: $cornerRadius;
    z-index: 300;
    padding: 20px;
}

.currentWeather .degr {
    text-align: center;
    display: block;
    font-weight: 700;
    font-size: 5rem;
    color: $currentWeatherTempColor;
}

.currentWeather .degr::after {
    content: "°С";
    margin-left: 10px;
    color: $currentWeatherCelsiumColor;
}


.currentWeather .city {
    text-align: center;
    display: block;
    font-weight: 800;
    font-size: 2rem;
    color: $currentWeatherCityColor;
}

.params .weatherParam {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    align-content: center;
    position: absolute;
    width: 35%;
    height: 15%;
    padding: 10px;
}

.topLeft {
    top: 0;
    left: 0;
    border-radius: $cornerRadius 0px $cornerRadius 0px;
}

.bottomLeft {
    bottom: 0;
    left: 0;
    border-radius: $cornerRadius 0px $cornerRadius 0px;
}

.topRight {
    top: 0;
    right: 0;
    border-radius: 0px $cornerRadius 0px $cornerRadius;
}

.bottomRight {
    bottom: 0;
    right: 0;
    border-radius: 0px $cornerRadius 0px $cornerRadius;
}

.params .windSpeed {
    color: $currentWeatherWindTextColor;
    background-color: $currentWeatherWindBgColor;
}

.params .windSpeed::after {
    display: block;
    content: "м/с";
}

.params .precipitation {
    color: $currentWeatherPrecipitationTextColor;
    border-radius: 0px $cornerRadius 0px $cornerRadius;
    background-color: $currentWeatherPrecipitationBgColor;
}

.params .precipitation::after {
    display: block;
    content: "мм";
}

.params .precipitationProbMax {
    color: $currentWeatherPrecipitationProbMaxTextColor;
    border-radius: 0px $cornerRadius 0px $cornerRadius;
    background-color: $currentWeatherPrecipitationProbMaxBgColor;
}

.params .precipitationProbMax::after {
    display: block;
    content: "%";
}

.params .humidity {
    color: $currentWeatherHumidityTextColor;

    border-radius: $cornerRadius 0px $cornerRadius 0px;
    background-color: $currentWeatherHumidityBgColor;
}

.params .humidity::after {
    display: block;
    content: "%";
}

.params {
    display: block;
    margin-top: 20px;
}

.nextHourWeather {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: $currentWeatherCardBg;
    box-shadow: 2px 2px 20px black;
    border-radius: 20px;
    z-index: 290;
    padding: 20px;
}

@media (min-width:730px) {
    .nextHourWeather {
        position: absolute;
        left: 50%;
        top: 28%;
        margin-left: 170px;
    }

    .displayContainer {
        margin-left: -350px;
    }
}

@media (max-width:730px) {
    .nextHourWeather {
        position: relative;
        margin-top: -10%;
    }
}