$searchResultBg: var(--searchResultBg);
$serachBackground: var(--serachBackground);


$currentWeatherCardBg: var(--currentWeatherCardBg);
$currentWeatherCityColor: var(--currentWeatherCityColor);
$currentWeatherTempColor: var(--currentWeatherTempColor);
$currentWeatherCardShadow: var(--currentWeatherCardShadow);

$currentDateTextColor: var(--currentDateTextColor);

$currentWeatherSunriseColor: var(--currentWeatherSunriseColor);
$currentWeatherSunsetColor: var(--currentWeatherSunsetColor);

$currentAppearentWeatherTempTextColor: var(--currentAppearentWeatherTempTextColor);

$currentWeatherWindTextColor: var(--currentWeatherWindTextColor);
$currentWeatherWindBgColor: var(--currentWeatherWindBgColor);

$WeatherCodeIconColor: var(--WeatherCodeIconColor);

$currentWeatherPrecipitationBgColor: var(--currentWeatherPrecipitationBgColor);
$currentWeatherPrecipitationTextColor: var(--currentWeatherPrecipitationTextColor);

$currentWeatherPrecipitationProbMaxBgColor: var(--currentWeatherPrecipitationProbMaxBgColor);
$currentWeatherPrecipitationProbMaxTextColor: var(--currentWeatherPrecipitationProbMaxTextColor);

$currentWeatherHumidityBgColor: var(--currentWeatherHumidityBgColor);
$currentWeatherHumidityTextColor: var(--currentWeatherHumidityTextColor);

$currentWeatherCelsiumColor: var(--currentWeatherCelsiumColor);

$BGCOLOR: var(--BGCOLOR);