$searchResultBg: rgb(74, 134, 194);
$serachBackground: rgb(94, 203, 150);


$currentWeatherCardBg: rgb(58, 58, 58);
$currentWeatherCityColor: rgb(156 147 96);
$currentWeatherTempColor: rgb(222 203 99);

$currentWeatherWindTextColor: rgb(255, 255, 255);
$currentWeatherWindBgColor: rgb(94 155 255);

$currentWeatherPrecipitationBgColor: rgb(133, 115, 254);
$currentWeatherPrecipitationTextColor: rgb(255, 255, 255);

$currentWeatherPrecipitationProbMaxBgColor: rgb(254, 115, 242);
$currentWeatherPrecipitationProbMaxTextColor: rgb(255, 255, 255);

$currentWeatherHumidityBgColor: rgb(254, 194, 115);
$currentWeatherHumidityTextColor: rgb(255, 255, 255);

$currentWeatherCelsiumColor: rgb(255, 255, 255);

$BGCOLOR:#525252;