.menuRow {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width:600px) {
    .menuRow {
        justify-content: space-between;
    }

    .search {
        max-width: 200px;
    }
}

.search {
    margin-right: 20px;
    width: 400px;
}

.menuButton {
    width: 36px;
    padding: 6px;
    height: 36px;
    background: rgb(104, 146, 188);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 9px #2e2e2e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    z-index: 999999;
}

.menuIcon {
    transition: 0.5s;
    transform: rotate(0deg);
}

.menuIcon.menuOpened {
    transition: 0.5s;
    transform: rotate(90deg);
}

.menuIcon svg {
    transition: 0.5s;
    transform: rotate(0deg);
}

.menuIcon.menuOpened svg {
    transition: 0.5s;
    transform: rotate(-180deg);
}

.menuContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 450px;
    background: #444444;
    z-index: 999998;
    padding: 1rem;
    padding-top: 80px;
    height: calc(100vh - 1rem - 80px);
    overflow-y: scroll;
    box-shadow: 0px 2px 6px black;
}

@media (max-width:700px) {
    .menuContainer {
        width: calc(100% - 2rem);
    }
}

.settingsCategory {
    font-size: 1.7rem;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.menuItems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.menuItem {
    margin-bottom: 5px;
    border-bottom: 2px dashed #717171;
    padding-bottom: 5px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.menuItemText {
    font-weight: 600;
    color: #eae273;
    margin-right: 10px;
    max-width: 250px;
}

.funcButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    padding: 10px;
}

.funcBtn {
    padding: 5px;
    height: 25px;
    border-radius: 10px;
    background: #505050;
    box-shadow: 2px 2px 9px #2e2e2e;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    align-content: center;
    cursor: pointer;
    margin: 4px;
}